img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
 .container {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
   Color: White;
   Font-size: 65px;
}
.container {
  text-shadow: 5px 3px 7px red;
}
.container {
  text-align: center;
}